{% extends "ddns_query/index.html" %}
{% load static %}
{% block ddns_navbar_active %}ddns_navbar_clients{% endblock%}

{% block ddns_content %}
    <div class="container margin-top-start-row well">
        <h2>Linux script</h2>
        <h3>Download script: <a href="{% static 'ddns_query/ddns_updater.sh' %}"> here</a></h3>
        <p>
            Download and run this script on any Linux system that has python 2.7 and crontab installed to create a cronjob automatically that runs periodically.
        </p>
        <p>
            Input parameters are:
            <ul>
                <li>period in minutes: cronjob will run every x minutes</li>
                <li>zone prefix</li>
                <li>renewal token</li>
            </ul>
        </p>
        <p>
            For example:
                <p><code>./ddns_updater.sh 5 example abcd1234</code></p>
                <p>will send updates every 5 minutes for the example.ddns.aszabados.eu using token abcd1234</p>
        </p>
    </div>
    <div class="container well">
        <h2>Windows service</h2>
        <h3>Download .msi: <a href="{% static 'ddns_query/UdynInstaller.msi' %}">here</a></h3>
    </div>
    <div class="container well">
            <h2>API</h2>
            <p>You can send update requests by any other means directly to the api endpoint via an HTTP request</p>
            <p><strong>Endpoint: </strong><code>/update/</code></p>
            <p><strong>Method: </strong><code> POST</code></p>
            <p><strong>Data: </strong><code> prefix=&lt;your_prefix&gt;&amp;token=&lt;your_token&gt;</code></p>
            <p><strong>Content-Type: </strong><code> application/x-www-form-urlencoded</code></p>
        </div>
{% endblock %}