{% load static %}

<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Dynamic DNS">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Dynamic DNS</title>
        <!-- <link rel="stylesheet" href="css/style.css"> -->
        <link rel="author" href="Ákos Szabados">
        <link rel="stylesheet" type="text/css" href="{% static 'ddns_query/style.css' %}">
        <link rel="shortcut icon" href="{% static 'ddns_query/favicon.ico' %}" type="image/x-icon">
        <link rel="icon" href="{% static 'ddns_query/favicon.ico' %}" type="image/x-icon">
        <script type = "text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script type = "text/javascript" src = "{% static 'ddns_query/notify.min.js' %}" ></script>
        {% block head %}{% endblock head %}
    </head>
    <body>
    <div id="ddns_body">
        <ul id="ddns_header" class="ddns-header">
            <li>
                <div id="ddns_header_text" class="ddns-header-text">Dynamic DNS Service</div>
            </li>
            {% if user.is_authenticated %}
            <li id="ddns_header_right" class="ddns-header-right">
                Hello, {{ user.username }}!
            </li>
            {% endif %}
        </ul>
        <nav id="ddns_topnav" class="ddns-topnav">
            <ul>
                <li id="ddns_topnav_left" class="ddns_topnav_left">
                    <a id="ddns_topnav_home" href="{% url 'ddns_query:index' %}">HOME</a>
                </li>
                {% if user.is_authenticated %}
                <li>
                    <a id="ddns_topnav_mydomains" href="{% url 'ddns_query:index' %}">MY DOMAINS</a>
                </li>
                <li>
                    <a id="ddns_topnav_newdomain" href="{% url 'ddns_query:index' %}">NEW DOMAIN</a>
                </li>
                {% else %}
                <li>
                    <a id="ddns_topnav_register" href="{% url 'ddns_query:registration_register' %}">REGISTER</a>
                </li>
                {% endif %}
                <li id="ddns_topnav_right" class="ddns-topnav-right">
                {% if user.is_authenticated %}
                    <a id="ddns_topnav_logout" href="{% url 'ddns_query:logout' %}">LOG OUT</a>
                {% else %}    
                    <a id="ddns_topnav_login" href="{% url 'ddns_query:login'  %}">LOG IN</a>
                {% endif %}  
                </li>
            </ul>
        </nav>
        <script>
            document.getElementById('{% block ddns_topnav_active %}ddns_topnav_home{% endblock ddns_topnav_active %}').className = 'ddns-topnav-active';
        </script>
        <div id="ddns_content" class="ddns-content">
            {% block ddns_content %}
            <div>
                <h1>KPR Online ez egy h1</h1>
                <h2>Ez egy alcím h2</h2>
            <p>{{ is_authenticated }}</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <h3>h3 Itt pedig az üdvözlő szöveg nagyon dizájn meg minden</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            Itt pedig az üdvözlő szöveg nagyon dizájn meg minden
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
            <div>Itt pedig az üdvözlő szöveg nagyon dizájn meg minden
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            Itt pedig az üdvözlő szöveg nagyon dizájn meg minden
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            Itt pedig az üdvözlő szöveg nagyon dizájn meg minden
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
            {% endblock ddns_content %}
        </div>
    </div>
    {% block body %}{% endblock body %}
    </body>
</html>