.fa, .devicon {
    font-size: 100px;
    color: #3a82a3;
}

.text-center {
    text-align: center;
}

body {
    margin: 0;
    background-size: cover;
}

.bgrey {
    background-color: #f0f0f0;
}

.bgreyer {
    background-color: #e9e9e9;
}

.bg-blue {
    background-color: #3a82a3;
}

.color-white {
    color: #ffffff;
}

.jumbotron {
    color: #ffffff;
    padding: 100px 25px;
}

.row {
    padding: 40px 20px;
}

.margin-top-start {
    margin-top: 100px;
}

.margin-top-start-row {
    margin-top: 60px;
}

.margin-top-min {
    margin-top: 5px;
}

.margin-bot-min {
    margin-bottom: 5px;
}

.float-left {
    float: left;
}

.padding-top-min {
    padding-top: 10px;
}

.padding-right-min {
    padding-right: 5px;
}

.border-blue {
    border-color: #3a82a3;
}